* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}

:root {
    --bg-color: rgb(3, 10, 23);
    --second-bg-color: rgba(50, 57, 70);
    --text-color: #fff;
    --main-color: rgb(150, 48, 0);
    --heading: rgb(120, 197, 255);
    --main-color-darken: rgba(116, 37, 1, 0.648);
    --btn-main-color: rgb(13, 107, 180);
    --btn-secondary-color: rgba(127, 199, 255, 0.853);
    --btn-txt: rgb(255, 255, 255);
    --header-bg: rgba(0, 0, 0, 0.7);
    --footer-bg: rgba(50, 57, 70, 0.8);
    --header-tx: #fff;
    --skills-bg: transparent;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    width: 100%;
}

body {
    max-width: 100vw;
    margin: 0 auto;
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 3% 0rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1.5rem 4%;
    background: var(--header-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header img {
    height: 3.5rem;
    width: auto;
    transition: .5s ease;
    margin-left: 0; 
    transition: filter 0.3s ease-in-out;
    filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0));
}

.header img:hover {
    filter: drop-shadow(0 0 10px var(--heading));
}

.header.sticky {
    border-bottom: .1rem solid var(--header-bg);
}

.navhead {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--header-tx);
    margin: 0 1.5rem; 
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border: 2px solid var(--main-color); 
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-shadow: 0 0 5px var(--main-color-darken);
}

.navhead .btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--btn-main-color);
    border-radius: 4rem;
    font-size: 1.5rem;
    margin-left: 2.5rem;
    color: var(--header-tx);
    box-shadow: none;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.navhead .btn:hover {
    box-shadow: 0 0 1rem var(--btn-secondary-color);
    transform: scale(1.05);
    color: var(--header-tx);
}

#menu-icon {
    font-size: 3.6 rem;
    margin-left: 2.5rem;
    color: var(--header-tx);
    display: none;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--btn-main-color);
    border-radius: 4rem;
    box-shadow: none;
    font-size: 1.6rem;
    color: var(--btn-txt);
    letter-spacing: .1rem;
    font-weight: 900;
    font-style: bold;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: 0 0 1rem var(--btn-secondary-color);
    transform: scale(1.05);
    cursor: pointer;
}

.heading {
    text-align: center;
    margin-top: -3rem;
    margin-bottom: 3rem;
    font-size: 4.5rem;
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0 0 5px rgb(44, 100, 143);   
}

.projects-content {
    align-items: center;
    justify-self: center;
}

.projects-content img {
    filter: drop-shadow( 0 0 5px var(--heading));
}



.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.2rem 4%;
    background: var(--footer-bg);
    z-index: 100;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer img {
    height: 3.5rem;
    width: auto;
    transition: .5s ease;
    margin-left: 0; 
    transition: filter 0.3s ease-in-out;
    filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0));
}

.footer-txt a {
    color:#aaa;
    text-decoration: underline;
    text-shadow: 0 0 5px var(--main-color);
}

.footer-txt p {
    margin-left: 4rem;
    font-size: 1.6rem;
}

.footer-btn {
    display: flex;
    position: absolute;
    right: 2%;

}

.footer-btn a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--btn-main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-btn a:hover {
    box-shadow: 0 0 1rem var(--btn-secondary-color);
}

.footer-btn a i {
    font-size: 2.4rem;
    color: var(--btn-txt);
}



@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    html {
        overflow-x: hidden;
    }

    .header {
        padding: 1.5rem 2%;
    }

    section {
        padding: 5rem 2%;
    }

    
    .footer {
        padding: 1.5rem 2%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 50%;
    }

    #menu-icon { display: block; }

    .navhead { justify-content: right;}

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--header-bg);
        display: none;
        flex-direction: column;
    }
    .navbar.active { display: flex; }
    .navbar a { display: block; font-size: 2rem; margin: 1rem 0; }
    .navhead i { display: block; font-size: 4rem; margin: 1rem 0; }

    .projects-content, .projects-content img {
        max-width: 100%;
        margin-top: 10%;
    }
}

@media (max-width: 580px) {
    section {
        min-height: 80vh;
        padding: 1% 0rem;
    }

    .footer {
        flex-direction: column-reverse;
    }
}
