* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}

:root {
    --bg-color: rgb(3, 10, 23);
    --second-bg-color: rgba(50, 57, 70);
    --text-color: #fff;
    --main-color: rgb(150, 48, 0);
    --heading: rgb(120, 197, 255);
    --main-color-darken: rgba(116, 37, 1, 0.648);
    --btn-main-color: rgb(13, 107, 180);
    --btn-secondary-color: rgba(127, 199, 255, 0.853);
    --btn-txt: rgb(255, 255, 255);
    --header-bg: rgba(0, 0, 0, 0.7);
    --footer-bg: rgba(50, 57, 70, 0.8);
    --header-tx: #fff;
    --skills-bg: transparent;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    width: 100%;
}

body {
    max-width: 100vw;
    margin: 0 auto;
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 0rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1.5rem 4%;
    background: var(--header-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header img {
    height: 3.5rem;
    width: auto;
    transition: .5s ease;
    margin-left: 0; 
    transition: filter 0.3s ease-in-out;
    filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0));
}

.header img:hover {
    filter: drop-shadow(0 0 10px var(--heading));
}

.header.sticky {
    border-bottom: .1rem solid var(--header-bg);
}

.navhead {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--header-tx);
    margin: 0 1.5rem; 
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border: 2px solid var(--main-color); 
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-shadow: 0 0 5px var(--main-color-darken);
}

.navhead .btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--btn-main-color);
    border-radius: 4rem;
    font-size: 1.5rem;
    margin-left: 2.5rem;
    color: var(--header-tx);
    box-shadow: none;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.navhead .btn:hover {
    box-shadow: 0 0 1rem var(--btn-secondary-color);
    transform: scale(1.05);
    color: var(--header-tx);
}

#menu-icon {
    font-size: 3.6 rem;
    margin-left: 2.5rem;
    color: var(--header-tx);
    display: none;
}

.home {
    justify-content: space-around;
    align-items: center;
    padding: 0rem 0%;
    position: relative;
}

.home-content {
    display: flex;
    position: relative;
}

.home-txt {
    z-index: 2;
    position: relative;
    max-width: 65%;
    padding: 0rem 5%;
    flex: 1;
    margin-top: 13%;
}

.home-img {
    z-index: 1;
    position: absolute;
    height: 100vh;
    max-width: 100%;
    right: 0;
    flex: 1;
    overflow: hidden;
}

.home-img img {
    z-index: 1;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.home-txt h2 {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

.home-txt h3 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
}

.home-txt h1 {
    font-family: "Rouge Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
    color: var(--main-color);
    line-height: 1;
    margin-bottom: 1.5rem;
}

.home-txt .masking-container h1 {
    font-family: "Tourney", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-variation-settings: "wdth" 100;
}

.masked-text {
    font-size: 12rem;
    font-weight: bold;
    color: transparent;
    background-image: url(assets/font-design.jpg); 
    background-size: 200%;
    background-position: 0 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-background 5s infinite alternate linear;
}

@keyframes animate-background {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--btn-main-color);
    border-radius: 4rem;
    box-shadow: none;
    font-size: 1.6rem;
    color: var(--btn-txt);
    letter-spacing: .1rem;
    font-weight: 900;
    font-style: bold;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: 0 0 1rem var(--btn-secondary-color);
    transform: scale(1.05);
    cursor: pointer;
}

.heading {
    text-align: center;
    margin-top: -3rem;
    margin-bottom: 3rem;
    font-size: 4.5rem;
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0 0 5px rgb(44, 100, 143);   
}

.about {
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 0rem 0% ;
}

.about-content {
    display: flex;
    position: relative;
}

.about-img img {
    z-index: 1; 
    position: absolute;
    height: 100vh;
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.about-txt {
    max-width: 50%;
    right: 0;
    z-index: 2;
    position: absolute;
    padding: 0rem 4%;
    margin-top: 14%;
}

.about-txt .heading {
    text-align: left;
    margin-bottom: 3.5rem;
    color: var(--heading);
}

.about-txt h3 {
    font-size: 2.6rem;
}

.about-txt .social-media {
    font-size: 5rem;
    display: flex;
    gap: 40px;
    margin-top: 10rem;
}

.social-media a {
    position: relative;
    color: #fff;
}

.social-media a:hover {
    filter: drop-shadow(0 0 15px var(--btn-main-color));
    transform: scale(1.5);
    transition-duration: 0.5s;
}

.gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 0rem 2.5%;
}

.gallery-img {
    height: 100vh;
    width: 2000px;
    margin-left: -3%;
    margin-right: -3%;
    overflow: hidden;
}

.gallery-img img {
    width: 100%;
    height: 100%;
    filter: blur(3px) brightness(65%);
    object-fit: cover;
    z-index: 1; 
}

.gallery-content {
    z-index: 2;
    position: absolute;
    padding: 8rem 4%;
}

.gallery-content .heading {
    margin-top: -1rem;
    margin-bottom: 1rem;
    color: var(--heading);
}

.gallery-content .img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 4rem 2rem;
}

.img-box {
    position: relative;
    display: flex;             
    flex-direction: column;    
    align-items: center;       
}

.txt-box {
    position: absolute;
    justify-self: flex-end;
    bottom: 0;           
    width: 90%;
    height: 50%;
    background: linear-gradient(rgba(255, 255, 255, .01), var(--main-color));
    opacity: 80%;
    border-radius: 8px;
    transition: opacity 0.15s ease-in-out;
    align-content: center;
    text-align: center;
    transition: .5s ease;
}

.txt-box p {
    margin: 0;
    color: #fff;
    font-size: 1.6rem;         
    font-weight: bold;
    position: relative;
    bottom: -20%;          
}

.img-box:hover {
    transform: scale(120%);
    transition: .5s ease;
}

.img-box:hover .txt-box {
    transform: translateY(100%);
    transition: .5s ease;
    opacity: 0%;
}

.img-box img {
    width: 90%;         
    height: auto;
    border-radius: 8px;
}

.appointment {
    align-items: center;
    min-height: 100vh;
    position: relative;
    padding: 0%;
}

.appointment-img {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.appointment-img img {
    width: 100%;
    height: 100%;
    filter: blur(3px) brightness(65%);
    object-fit: cover;
    z-index: 0; 
}

.appointment .heading {
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 4rem;
    padding: 5.25rem 1rem 0 0;
    margin-bottom: 0.5rem;
    width: 100%;
    color: var(--heading);
}

.appointment-content {
    display: flex;
    position: relative;
    padding: 0rem 3%;
}

.appointment-left,
.appointment-right {
    z-index: 2;
    position: relative;
    flex: 1;
    padding: 2rem;
}

.appointment-left {
    max-width: 100%;
    
}

.appointment-right {
    max-width: 100%;
    padding: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appointment-left .appointment-form form {
    width: 100%;
}
    
.input-row {
    display: flex;
    gap: 1.5rem;
}

.input-row .input-box {
    width: 50%;
}

.input-box {
    max-width: 100%;
    margin-bottom: 1rem;
}

.input-box p,
textarea + p {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.appointment-form input[type="text"],
.appointment-form input[type="number"],
.appointment-form input[type="date"],
.appointment-form input[type="time"],
.appointment-form textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    background: rgb(125, 136, 156);
    color: white;
    border: none;
    margin: 0.7rem 0;
}

.appointment-form input::placeholder,
.appointment-form textarea::placeholder {
    color: rgba(255, 255, 255, 0.55);
}

.appointment-form .app-btn {
    justify-self: center;
}

.appointment-right h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.calendar-frame {
    width: 100%;
    height: 400px;
    border-radius: 1rem;
    border: 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}



.contact {
    align-items: center;
    min-height: 100vh;
    position: relative;
    padding: 0%;
}

.contact-img {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.contact-img img {
    width: 100%;
    height: 100%;
    filter: blur(3px) brightness(65%);
    object-fit: cover;
    z-index: 0; 
}

.contact .heading {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 5rem 1rem 0 0;
    margin-bottom: 1rem;
    color: var(--heading);
}

.contact-content {
    top: 17%;
    display: flex;
    width: 100%;
    z-index: 2;
    position: relative;
}

.email-container {
    display: flex;
    position: relative;
    flex: 0.6;
    left: 5%;

}

.email-container form {
    width: 70rem;
    margin: 0.5rem 5%;
    text-align: center;
}

.email-container form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.email-container form .input-box input,
.email-container form textarea {
    width: 100%;
    object-fit: cover;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    background: rgb(125, 136, 156);
    border-radius: .8rem;
    margin: .7rem 0;
}

.input-box input::placeholder,
.contact-content form textarea::placeholder {
  color: rgba(255, 255, 255, 0.55);
  opacity: 1;
}

.email-container form textarea {
    resize: none;
}

.email-container form .app-btn {
    justify-self: center;
}

.contact-txt {
    width: 80%;
    height: auto;
    position: relative;
    margin-top: 10%;
    flex: 0.4;
    right: -2.5%
}

.contact-txt .txt-row {
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5% 2%;
    background-color: rgba(3, 10, 23, 0.85);
    border-radius: 15px;
}

.txt-row i,
.txt-row p {
    font-size: 2.8rem;
    display: flex;
    align-items: center;
    color: rgb(13, 107, 180);
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.2rem 4%;
    background: var(--footer-bg);
    z-index: 100;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer img {
    height: 3.5rem;
    width: auto;
    transition: .5s ease;
    margin-left: 0; 
    transition: filter 0.3s ease-in-out;
    filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0));
}

.footer-txt a {
    color:#aaa;
    text-decoration: underline;
    text-shadow: 0 0 5px var(--main-color);
}

.footer-txt p {
    margin-left: 4rem;
    font-size: 1.6rem;
}

.footer-btn {
    display: flex;
    position: absolute;
    right: 2%;

}

.footer-btn a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--btn-main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-btn a:hover {
    box-shadow: 0 0 1rem var(--btn-secondary-color);
}

.footer-btn a i {
    font-size: 2.4rem;
    color: var(--btn-txt);
}




@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    html {
        overflow-x: hidden;
    }

    .header {
        padding: 1.5rem 2%;
    }

    section {
        padding: 5rem 2%;
    }

    .about-txt, .home-txt {
        background-color: var(--header-bg);
        border-radius: 15px;
    }

    .about-txt .heading, .about-txt h3:nth-of-type(2),
    .home-txt h1, .home-txt h3 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .gallery {
        min-height: 105vh;
    }

    .appointment-content {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 0rem 3%;
    }

    .contact {
        min-height: 120vh;
    }

    .email-container form {
        margin-bottom: 0rem;
    }

    .contact-content {
        flex-direction: column;
    }

    .contact-txt{
        margin-top: 1rem;
        margin-left: 5%;
    }

    .contact-txt i,
    .contact-txt p {
        font-size: 2rem;
    }
    
    .footer {
        padding: 1.5rem 2%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 50%;
    }

    #menu-icon { display: block; }

    .navhead { justify-content: right;}

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--header-bg);
        display: none;
        flex-direction: column;
    }
    .navbar.active { display: flex; }
    .navbar a { display: block; font-size: 2rem; margin: 1rem 0; }
    .navhead i { display: block; font-size: 4rem; margin: 1rem 0; }

    .about-txt, .home-txt {
        max-width: 75%;
        margin-top: 35%;
    }

    .gallery-content .img-container {
        grid-template-columns: repeat(2, 1fr); 
        gap: 2rem 1rem;
    }

    .contact-txt {
        margin-top: 2%;
        left: 10%;
    }

}

@media (max-width: 600px) {
    section {
        min-height: 80vh;
        padding: 1% 0rem;
    }
    
    .about-txt, .home-txt {
        max-width: 100%;
        margin-top: 50%;
    }

    .email-container {
        max-width: 50rem;
    }

    .email-container .input-box input {
        width: 100%
    }

    .footer {
        flex-direction: column-reverse;
    }
}